

<div class="modal-modal">
    <div class="modal-top">
        <label class="modal-title">Editar convidado</label>
     <a>   <img (click)="cancelar()" src="../../../../assets/icon/check-box.svg"></a>
    </div>
    <form>
        <div class="modal-label"><label>Nome</label>
        </div>
        <input class="modal-input" type="text" name="nome" >
        <div class="modal-label"><label>Cargo</label>
        </div>
        <input class="modal-input" type="text" name="cargo" >
        <div class="modal-label"><label>Empresa</label>
        </div>
        <input class="modal-input" type="select" name="empresa" >
        <div class="modal-label"><label>E-mail</label>
        </div>
        <input class="modal-input" type="email" name="email" >

    
        <div class="modal-label"><label>Telefone</label>
        </div>
        <input class="modal-input" type="text" name="cargo" >  
    

    
    
        <button class="modal-button" (click)="salvar()" class="btn btn-primary"> Salvar alteracoes </button>
    </form>
    </div>
    